<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img class="logo-sm" src="images/logo.png" />

    <%usersWithSecrets.forEach(function(secret){%>
    <p class="secret-text"><%=secret.content%></p>
    <%})%>

    <hr />

    <a class="btn btn-info btn-md" href="/logout" role="button">LEAVE</a>
    <a class="btn btn-info btn-md" href="/submit" role="button"
      >SHARE A SECRET</a
    >
  </div>
</div>

<%- include('partials/footer') %>
